{% extends 'base.html' %}
{% block content %}
{% load static %}
<html>

          <div class = "mt-5">
           <center>
            <h1>Enter YouTube Video URL</h1>
           </center>
          </div>

    <div class = "container mt-5">  
        <center>
          <form action = "download/" method = "GET">
            <div class="form-group">
              <input name = "url" type="text" class="form-control" placeholder="Input Youtube Video URL">
            </div>
            <br>
            <button type="submit"> <img src= "{% static 'youtubeapp/click.png' %}"> </button>
            {# class="btn btn-primary">Submit #}
          </form>
        </center>
    </div>
   </body>
</html>
{% endblock content %}